
.menu {
  display: none;
}
/*.header {
 border-bottom: 1px solid #ececec;
  padding-top: 24px;
 padding-bottom: 25px;
 background: #ffffff;  
}
.header .conteiner {
 display: flex;
 align-items: center;
 justify-content:center;  
}*/