.header {
  border-bottom: 1px solid #ececec;
  background: #ffffff;
}

@media screen and (min-width: 480px) {
  .menu {
    display: none;
  }
  .contacts {
    display: none;
  }
  .header {
    position: relative;
  }
  .header .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 50%;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    padding: 48px 40px;
    background-color: #ffffff;
    transform: translateY(-100%) translateX(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-open {
    transform: translateY(0) translateX(-50%);
    visibility: visible;
    pointer-events: auto;
    overflow: scroll;
  }
  .burger-btn,
  .mobile-menu__modal-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .mobile-menu__modal-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mobile-menu__modal-icon {
    width: 40px;
    height: 40px;
  }
  .burger-icon {
    width: 40px;
    height: 40px;
    fill: #000000;
  }
  .mobile-menu {
    color: var(--accent-color);
  }
  .mobile-menu .link.active {
    color: var(--accent-color);
  }
  .mobile-menu__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  .mobile-menu__link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
    position: relative;
    padding-bottom: 30px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .mobile-contacts {
    margin-top: 300px;
    text-align: start;
  }
  .mobile-contacts__item {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    color: var(--accent-color);

    &:not(:last-child) {
      margin-bottom: 32px;
    }
    .mobile-contacts__link {
      color: #757575;
    }
  }

  .mobile-social {
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
  }
  .mobile-social__item {
    font-family: --main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: #2196f3;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    padding-right: 10px;

    &:last-child {
      border-right: none;
    }
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .burger-btn,
  .mobile-menu__modal-close-btn {
    display: none;
  }

  .header .conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
