.logo {
  width: 134px;
  height: 28px;
}

.logo {
  font-family: var(--secondery-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
//   margin-right: 90px;
}

.logo_light_theme {
  color: #212121;
}
.logo_dark_theme {
  color: #ffffff;
}