 @media  screen and (min-width:480px) and (max-width:767px) {
  .titl {
   font-family: var(--main-font);
   font-weight: bold;
   font-style: normal;
   font-size: 26px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;  
   
   // font-size: 36px;
  }
 }



 