.footer {
 background: #2f303a;
}
/*.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;  
  margin: 0;
 
}
.footer .conteiner {
  display: flex;  
  align-items: baseline;
  justify-content:flex-start;
 
}*/
.footer-address {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.logo-footer { 
  margin-bottom: 20px;
}
.info__adr {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.info__mail {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.info__tel {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-links__text {
font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}
.footer-links {
  display: flex;
  align-items: center;
  flex-direction: column;  
}
 .footer-links__list {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}
.footer-links__item > {
  margin-right: 20px;
}
.footer-links__item:not(:last-child) {
  margin-right: 20px;
}
.footer-links__link {
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color:var(--accent-color) ;
  }
}
.footer-links__icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  align-items: baseline;    
}
.form-ftr__text {
 font-family: var(--main-font);
 font-style: normal;
 font-weight: bold;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #FFFFFF;
 margin-bottom: 20px; 
}
.form-ftr__wrapper {  
  height: 50px;
  margin-top: 20px;  
}
.form-ftr__input {    
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color:  rgba(255, 255, 255, 0.6);
  padding: 16px;
  margin-right: 12px;  
  background: #2F303A;
  
}
.form-ftr__btn {
  margin: 0;
  display: flex;
  align-items: center;
  width: 200px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 

  &:hover,
  &:focus {
   box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.form-ftr__icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}
.address-element {
  font-style: normal;

  &:not(:last-child) {
    padding-bottom: 9px;
  }
}
.address {
  display: block;
}
