.hero-section {
  background-color: #2f303a;
}
.hero-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero {
  padding: 118px 60px;
}

@media screen and (min-width: 480px) {
  .overlay {
    width: 100vw;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../imgdz/stydio/img-bg-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../imgdz/stydio/img-bg-mobile@2x.jpg');
    }
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 204px;
  }
  .hero-text {
    max-width: 360px;
  }
  .overlay {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../imgdz/stydio/img-bg-tablet.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../imgdz/stydio/img-bg-tablet@2x.jpg');
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero .conteiner {
    width: 100%;
  }
  .hero-text {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
  .overlay {
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../imgdz/stydio/img-bg-desktop.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../imgdz/stydio/img-bg-desktop@2x.jpg');
    }
  }
}
