.hero-section {
  background-color: #2f303a;
}
@media  screen and (min-width:320px) and (max-width:767px) {
  .overlay {
   width: 100vw;
   max-width: 480px;
   height: 400px;
   margin-left: auto;
   margin-right: auto;
   outline: 1px solid black;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../imgdz/stydio/img-bg-mobile.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center; 

   @media screen and (min-device-pixel-ratio: 2),
                     (min-resolution: 192dpi),
                     (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../imgdz/stydio/img-bg-mobile@2x.jpg");
   }
  }
 .hero  {
   padding: 118px 60px;   
 }
 .hero-text {
   font-family: var(--main-font);
   font-weight: 900;
   font-size: 26px;
   line-height: 1.6;
   text-align: center;
   text-transform: uppercase;
   color: #ffffff;
   margin-left: auto;
   margin-right: auto;
  //  padding-bottom: 30px;
 }

}
@media  screen and (min-width:1200px) {
  .hero-text {
   font-size: 44px;
   line-height: 1.36;
  }
 
}

// .overlay {
//   max-width: 1600px;
//   height: 600px;
//   margin-left: auto;
//   margin-right: auto;
//   outline: 1px solid black;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../imgdz/stydio/Img\ bg.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }
//  .hero .conteiner {    
  //  width: 100%;  
//   padding: 200px 15px;   
// }

// .hero-text { 
  // font-size: 44px;  
  // line-height: 1.36;  
//   margin-bottom: 40px;
//   max-width: 696px;
// }